<div class="mat-typography"> <!--  style="font-family: sans-serif;" -->
  <header class="header">
    <div class="container-header">
      <div class="left-div">
        <!-- <img src="assets/img/logo.png" alt="Logo" class="logo" title="Startseite"> -->
      </div>
      <div class="right-div" style="font-size: xx-large;">
        SOCIAL MEDIA PETITION
      </div>
    </div>
  </header>
  <div class="container-body">
    <div class="border">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer-clean">
    <footer>
      <div class="container-footer">
        <div class="row">

          <div class="col-sm-5 col-md-4">
            <h3>Kontakt</h3>
            <ul>
              <li style="flex-direction: column;">
                Email: <a href="mailto:davids@socialmediapetition.de">
                  &nbsp;&nbsp;{{email}}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-2">
            <h3>Rechtliches</h3>
            <ul>
              <li><a routerLink="/impressum" target="_blank">Impressum</a></li>
              <!-- <li><a href="/datenschutz">Datenschutz</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>